.container {
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    height: auto;
}
body {
    background-color: rgb(231, 228, 228);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size:center;
  }
